* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.UI {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: blueviolet;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.home_butt {
    display: flex;
    flex: 1;
    gap: 50px;
    list-style: none;
    font-size: 2em; 
    padding: 10px;
    margin-right: 64px; 
}

.form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex: 1;
    margin-right: 10px;
}

.main {
    background: wheat;
    flex: 1;
}

.footer {
    background: blueviolet;
    height: 64px;
}

.opss {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 10px;
    list-style: none;
}

.itemsearch {
    padding: 5px;
    background: violet
}

.butt_list {
    text-decoration: none;
    color:aquamarine
}

.butt_list:hover {
    color:chocolate;
}

.sellingitem {
    display: flex;
    flex-wrap:wrap;
    padding: 3rem;
    gap: 50px;
    justify-content: center;
}

.sellingproduct {
    background: whitesmoke;
    text-align: center;
}

.sellingproduct:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (min-width : 475px) {
    .navbar{
         justify-content:flex-end;
     }   
    
     .nav-list {
         flex-direction: row; 
         /* justify-content: center; */
         /* display: flex; */
     }
     
 }
 
 /* @media (minwidth : 768) {
     .nav-list {
         flex-direction: column; 
         display: flex;
     }
 } */